<div class="container mt-3">
    <h2>Lista de Libros</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Título</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let store of stores">
                <td>{{ store.isbn }}</td>
                <td>{{ store.titulo }}</td>
                <td>{{ store.cantidad }}</td>
            </tr>
        </tbody>
    </table>
</div>