<app-nav-bar></app-nav-bar>
<div class="m-3">
    <h2>Lista de Libros</h2>
    <div class="m-4">
        <form [formGroup]="bookForm">
            <div class="mb-3 row">
                <label for="table-filtering-search" class="col-xs-3 col-sm-auto col-form-label">Buscar:</label>
                <div class="col-xs-3 col-sm-auto">
                    <input id="table-filtering-search" class="form-control" type="text"
                        style="height: 40px; border-radius: 8px;" formControlName="filter" />
                </div>

                <button type="button" class="btn btn-outline-primary col-md-1"
                    (click)="openAddBookModal(addBookModal)">Agregar libro</button>
            </div>
            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" class="col-5">ISBN</th>
                        <th scope="col" class="col-5">Título</th>
                        <th scope="col" class="col-5">Autor</th>
                        <th scope="col" class="col-2">Valoración</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of filteredBooks">
                        <td class="col-5">{{ book.isbn }}</td>
                        <td class="col-5" (click)="open(content, book)">{{ book.titulo }}</td>
                        <td class="col-5">{{book.autor}}</td>
                        <td class="col-2">{{book.valoracion}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>

<!--Modal-->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{bookSelected.titulo}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="mb-3">
                <div>
                    <p>{{bookSelected!.resumen}}</p>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #addBookModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Agregar Nuevo Libro</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form>
            <div class="row">
                <div class="col-md-8">
                    <div class="mb-3">
                        <label for="isbn" class="form-label">ISBN</label>
                        <input type="text" id="isbn" class="form-control" [(ngModel)]="newBook.ISBN" name="isbn">

                        <label for="titulo" class="form-label">Título</label>
                        <input type="text" id="titulo" class="form-control" [(ngModel)]="newBook.titulo" name="titulo">

                        <label for="autor" class="form-label">Autor</label>
                        <input type="text" id="autor" class="form-control" [(ngModel)]="newBook.autor" name="autor">

                        <label for="editorial" class="form-label">Editorial</label>
                        <input type="text" id="editorial" class="form-control" [(ngModel)]="newBook.editorial"
                            name="editorial">

                        <label for="resumen" class="form-label">Resumen</label>
                        <input type="text" id="resumen" class="form-control" [(ngModel)]="newBook.resumen"
                            name="resumen">

                        <div class="mb-3">
                            <label for="genres" class="form-label">Géneros</label>
                            <select id="genres" class="form-select" [(ngModel)]="selectedGenres" name="genres" multiple>
                                <option *ngFor="let genre of availableGenres" [value]="genre">{{ genre }}</option>
                            </select>
                        </div>

                        <label for="portada" class="form-label">Portada</label>
                        <input type="file" id="portada" class="form-control" (change)="onFileSelected($event)">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="image-preview" *ngIf="imagePreview">
                        <img [src]="imagePreview" alt="Vista previa de la portada" class="img-thumbnail">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modal.dismiss('Cancel click')">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="saveBook()">Guardar</button>
    </div>
</ng-template>