<app-nav-bar></app-nav-bar>
<div class="container mt-3">
    <h2>Lista de Libros</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="col-5">ISBN</th>
                <th scope="col" class="col-5">Título</th>
                <th scope="col" class="col-5">Autor</th>
                <th scope="col" class="col-2">Valoración</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td class="col-5">{{ book.isbn }}</td>
                <td class="col-5" (mouseover)="showInfo()">{{ book.titulo }}</td>
                <td class="col-5">{{book.autor}}</td>
                <td class="col-2"> {{book.valoracion}}</td>
            </tr>
        </tbody>
    </table>
</div>